@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
	font-family: Roboto;
}

.Footer-Container {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 25px 50px;
}

.Footer-Container .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}
/* Footer links */

.Footer-Container p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease 0.25s;
}

.Footer-Container p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease 0.25s;
	padding-right: 15px;
}


.Footer-Container .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.Footer-Container .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all 0.25s;
}

.Footer-Container .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.Footer-Container p.footer-links a:hover {
	text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
	.Footer-Container .footer-left,
	.Footer-Container .footer-right {
		text-align: center;
	}
	.Footer-Container .footer-right {
		float: none;
		margin: 0 auto 20px;
	}
	.Footer-Container .footer-left p.footer-links {
		line-height: 1.8;
	}
}
